:host {
  display: block;
}

.module {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 18rem;
  padding: 0;
  transition: scale 0.3s ease-in-out;

  .header {
    color: var(--active-foreground);
    background-color: var(--active-background);
    border-radius: 5px 5px 0 0;
    transition: background-color 0.5s;
    padding: 0.5rem;

    h3 {
      margin: 0;
    }
  }

  .content {
    padding: 1rem;
    font-size: 20px;
  }

  .footer {
    text-align: right;
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
}

.module.pulsing > h3 {
  background-color: var(--disabled-background);
}

@media (hover: hover) {
  .module:hover {
    scale: 1.02;
  }
}
