<div class="block module">
  <div class="header">
    <h3>{{ title() }}</h3>
    <div class="self-assessment"></div>
    <div class="assessment-by-others"></div>
  </div>
  <div class="content">
    @switch (widgetInfo().type) { @case ('TeamCompetenceProfile') {
    <app-team-competence-profile-widget></app-team-competence-profile-widget>
    } @case ('TeamCompetenceAtlas') {
    <app-team-competence-atlas-widget></app-team-competence-atlas-widget>
    } @case ('TeamTeamrole') {
    <app-team-teamrole-widget></app-team-teamrole-widget>
    } @default { Es kann keine Vorschau angezeigt werden! } }
  </div>
</div>
