<app-conditions-selector
  (selectedConditionChanged)="conditionChanged($event)"
></app-conditions-selector>

<div class="preview">
  <div class="header">{{ leftAssessment() }}</div>
  <div class="header">{{ rightAssessment() }}</div>

  <div class="preview-frame">
    <div class="field p">P</div>
    <div class="field pa">P/A</div>
    <div class="field ap">A/P</div>
    <div class="field a">A</div>
    <div class="field ps">P/S</div>
    <div class="field pf">P/F</div>
    <div class="field as">A/S</div>
    <div class="field af">A/P</div>
    <div class="field sp">S/P</div>
    <div class="field sa">S/A</div>
    <div class="field fp">F/P</div>
    <div class="field fa">F/A</div>
    <div class="field s">S</div>
    <div class="field sf">S/F</div>
    <div class="field fs">F/S</div>
    <div class="field f">F</div>
  </div>

  <div class="preview-frame">
    <div class="field p">P</div>
    <div class="field pa">P/A</div>
    <div class="field ap">A/P</div>
    <div class="field a">A</div>
    <div class="field ps">P/S</div>
    <div class="field pf">P/F</div>
    <div class="field as">A/S</div>
    <div class="field af">A/P</div>
    <div class="field sp">S/P</div>
    <div class="field sa">S/A</div>
    <div class="field fp">F/P</div>
    <div class="field fa">F/A</div>
    <div class="field s">S</div>
    <div class="field sf">S/F</div>
    <div class="field fs">F/S</div>
    <div class="field f">F</div>
  </div>
</div>
