:host {
  display: block;
}

svg {
  font-size: 1.4em;
}

.teamrole-label {
  fill: white;
  text-anchor: middle;
  alignment-baseline: central;
  pointer-events: none;
}

.teamrole-circle {
  cursor: pointer;
  transition: opacity 0.3s;
}

path.description-background {
  fill: var(--disabled-background);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.teamrole-name {
  font-weight: 500;
}

svg:has(circle.teamrole-circle.highlighted)
  circle.teamrole-circle:not(.highlighted) {
  opacity: 0;
}

svg:has(circle.teamrole-circle.highlighted) path.description-background {
  opacity: 1;
}

.description {
  text-anchor: middle;
  alignment-baseline: central;
  fill: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

svg:has(circle.teamrole-circle.highlighted) .description {
  opacity: 1;
}

.background-circle {
  fill: var(--disabled-background);
}

.veryhighlevel {
  fill: var(--very-high-level);
}

.highlevel {
  fill: var(--high-level);
}

.mediumlevel {
  fill: var(--medium-level);
}

.lowlevel {
  fill: var(--low-level);
}
