:host {
  display: block;
  margin: 2rem;
}

h2 {
  padding: 1rem;
  margin-bottom: 0;
}

.subtitle {
  padding: 0 1rem;
  padding-top: 0;
}

.preview {
  max-width: 1538px;
}

.preview .content {
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: clamp(0rem, (100% - 360px) / 2, 1rem);
  padding-right: clamp(0rem, (100% - 360px) / 2, 1rem);
}
