<div class="profile-table">
  <div class="header"></div>
  <div class="header">P</div>
  <div class="header">A</div>
  <div class="header">F</div>
  <div class="header">S</div>
  <div class="row">Normale Bedingungen</div>
  <div class="field medium">26</div>
  <div class="field medium">32</div>
  <div class="field low">21</div>
  <div class="field very-high">41</div>
  <div class="row sub">Selbsteinschätzungen</div>
  <div class="field medium sub">26</div>
  <div class="field medium sub">32</div>
  <div class="field low sub">21</div>
  <div class="field very-high sub">39</div>
  <div class="row sub">Fremdeinschätzungen</div>
  <div class="field medium sub">26</div>
  <div class="field medium sub">32</div>
  <div class="field low sub">21</div>
  <div class="field very-high sub">43</div>
  <div class="row">Schwierige Bedingungen</div>
  <div class="field medium">29</div>
  <div class="field medium">28</div>
  <div class="field medium">28</div>
  <div class="field high">35</div>
  <div class="row sub">Selbsteinschätzungen</div>
  <div class="field medium sub">29</div>
  <div class="field medium sub">28</div>
  <div class="field medium sub">28</div>
  <div class="field high sub">35</div>
  <div class="row sub">Fremdeinschätzungen</div>
  <div class="field medium sub">29</div>
  <div class="field medium sub">28</div>
  <div class="field medium sub">28</div>
  <div class="field high sub">35</div>
  <div class="row">Differenz</div>
  <div class="field">3</div>
  <div class="field">-4</div>
  <div class="field">7</div>
  <div class="field">-6</div>
</div>
