:host {
  display: block;
  width: 100%;
  height: 100%;
}

.ready {
  background-color: darkgreen;
}

.started {
  background-color: lightgreen;
}

.registered {
  background-color: yellow;
}

.not-registered {
  background-color: var(--light-background);
}
