<div class="selection">
  <app-switch
    leftOption="Bedingungen"
    rightOption="Selbst-/Fremdeinschätzungen"
  ></app-switch>
  <app-switch
    leftOption="Selbsteinschätzungen"
    rightOption="Fremdeinschätzungen"
  ></app-switch>
</div>
<div class="comparison">
  <div class="header">Günstige Bedingungen</div>
  <div class="header">Schwierige Bedingungen</div>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
</div>
