<div class="selection">
  <div class="select-comparison">
    <input type="checkbox" id="select-comparison" checked="comparison()" />
    <label for="select-comparison">{{ comparisonTitle }}</label>
  </div>
  <div class="select-type">
    <input type="checkbox" id="select-type" />
    <label for="select-type">Selbsteinschätzungen</label>
  </div>
</div>
<div class="comparison">
  <div class="header">Günstige Bedingungen</div>
  <div class="header">Schwierige Bedingungen</div>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
</div>
