:host {
  padding-top: 0.5rem;
}

.selection {
  font-size: 0.8rem;
  text-align: right;

  div {
    margin-bottom: 0.5rem;
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.header {
  text-align: center;
  font-size: 0.8rem;
}

.graph {
  margin: 0 auto;
}
