<div class="selection">
  <app-switch
    [leftOption]="{ title: 'Bedingungen', value: 'conditions' }"
    [rightOption]="{
      title: 'Selbst-/Fremdeinschätzungen',
      value: 'self-other'
    }"
    (selected)="conditionsSelected($event)"
  ></app-switch>
  <app-switch
    [leftOption]="leftSelection"
    [rightOption]="rightSelection"
  ></app-switch>
</div>
<div class="comparison">
  <div class="header">{{ leftAssessment() }}</div>
  <div class="header">{{ rightAssessment() }}</div>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
  <app-team-teamrole-graph class="graph"></app-team-teamrole-graph>
</div>
