:host {
  display: block;
}

.container {
  --height: 2em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 12px;
}

.left-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.right-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.left-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch {
  position: relative;
  user-select: none;
  appearance: none;
  width: calc(var(--height) * 2);
  height: var(--height);
  border: 2px solid var(--dimmed-border);
  border-radius: 100vw;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  width: calc(var(--height) - 0.2em - 4px);
  height: calc(var(--height) - 0.2em - 4px);
  top: 0.1em;
  left: 0.1em;
  background-color: var(--active-background);
  border-radius: 50%;
}

input[type="checkbox"].switch:checked::after {
  left: auto;
  right: 0.1em;
}
