:host {
  display: block;
}

.selection {
  font-size: 0.8em;
  text-align: right;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  // border-bottom: 2px solid var(--dimmed-border);
}

.description {
  text-align: center;
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: var(--light-background);
}
